/Modelos/nbproject/
/Modelos/build/
/Modelos/dist/
/WebServiceProjetos/build/
/UtilLibrares/nbproject/
/UtilLibrares/build/
/UtilLibrares/dist/
/WebServiceProjetos/dist/
/ProjetosBase/nbproject/
/ProjetosUtil/nbproject/
/ProjetosClienteAndroid/gen/
/ProjetosUtil/build/
/ProjetosUtil/dist/
/ProjetosBase/dist/
/ProjetosBase/build/
/ProjetosClienteAndroid/nbandroid/
/ClienteWebService/nbproject/
/ClienteWebService/build/
/ClienteWebService/dist/
