<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.projetos.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="false" android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name="ProjetosMainClienteActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ResponsavelActivity"></activity>
        <activity android:name="ConfiguracoesActivity"></activity>
        <activity android:name="TesteWebServiceActivity"></activity>
        <activity android:name="AdminProjetoActivity"></activity>
        <activity android:name="ProjetoListActivity"></activity>
        <activity android:name="ProjetoActivity">
            <!--
                    android:parentActivityName="AdminProjetoActivity"
                    <meta-data android:name="android.support.PARENT_ACTIVITY"
                    android:value="br.com.projeto.android.ProjetoActivity"
            />-->

        </activity>
    </application>
</manifest>
