<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.projetos.android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="false" android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ResponsavelActivity"
                  android:parentActivityName="MainActivity">
        </activity>
        <activity android:name="ConfiguracoesActivity">
        </activity>
        <activity android:name="TesteWebServiceActivity"
                  android:parentActivityName="MainActivity">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.ProjetoConsultaActivity"
                  android:label="@string/projeto_consulta_titulo">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.ModuloConsultaActivity"
                  android:label="@string/modulo_consulta_titulo">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.ProjetoActivity"
                  android:parentActivityName="br.com.projetos.android.activity.projeto.ProjetoConsultaActivity">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.ModuloActivity"
                  android:parentActivityName="br.com.projetos.android.activity.projeto.AdminProjetoActivity">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.AdminProjetoActivity"
                  android:parentActivityName="br.com.projetos.android.activity.projeto.ProjetoConsultaActivity">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.AdminModuloActivity"
                  android:parentActivityName="br.com.projetos.android.activity.projeto.AdminProjetoActivity">
        </activity>
        <activity android:name="br.com.projetos.android.activity.projeto.AtividadeActivity"
                  android:parentActivityName="br.com.projetos.android.activity.projeto.AdminModuloActivity">
        </activity>
    </application>
</manifest>
